body {
    font-family: Arial, sans-serif;
}

.dark-theme {
    background-color: #333333;
    color: #f2f2f2;
}

.container {
    text-align: center;
    padding: 20px;
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.control-btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}